*, html, body {
    padding:0;
    margin:0;
    box-sizing: border-box;
    font-family: poppins, sans-serif;
    scroll-behavior: smooth;
}

:root {
    --bg-primary: rgb(140, 34, 226);
    --bg-secondary:rgb(49, 189, 189);
    --text-primary:white;
    --txt-secondary:#222222;
    --icons-bg-primary:rgb(255, 255, 255);
    --icons-bg-secondary:rgb(218, 75, 218);
    
}


header {
    background-color: var(--bg-primary);
    color:var(--text-primary);
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
}

.logo{
    margin-right: auto;
    margin-left: 10px;
    transition: all .5s ease 0s ;
}

.logo:hover{
    color: var(--bg-secondary);
    transform: rotate(2deg);
}

nav ul{
    display: flex;
    padding: 20px;
}

li {
    list-style-type: none;
    padding: 5px 12px;
    
}

li a{
    transition: all .5s ease 0s ;
}

li a:hover{
    color: var(--bg-secondary);
}

a{
    color: var(--text-primary);
    text-decoration: none;
}

.btn-cta    {
    margin-right: 10px;
    border: none;
    font-size: 18px;
    padding: 6px 12px;
    background-color: var(--bg-secondary);
    color: var(--txt-secondary);
    border-radius: 10px;
    cursor: pointer;
    transition: all .5s ease 0s ;
}

.btn-cta:hover{
    background-color: var(--text-primary);
    color: var(--bg-secondary);
}

.container{
    max-width: 1200px;
    margin: 0 auto;
    padding: 70px 0;
}

.intro{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 10px;
    text-align: center;
}

.tittle {
    font-size: 24px;
    font-weight: bold;
   
}

.description{
    font-size: 28px;
    font-weight: bolder;
   
}

.img-photo{
    width: 100%;
    max-width: 500px;
    max-height: auto;
    padding: 10px;
}



.tentang {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    color: var(--text-primary);
    background-color: var(--bg-primary);
    padding: 20px;
    font-size: 24px;
    margin-bottom: 10px;
}

.tentang .mt-10{
    margin-top: 20px;
    margin-bottom: 10px;
}

.card  {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 8px;
}

.card-items {
    width: 25%;
    text-align: center;
    background-color: var(--bg-primary);
    color: var(--text-primary);
    box-shadow: 2px 2px 2px 2px rgba(0, 0, 0, 0.4);
    padding: 20px;
}

.card-tittle {
    font-size: 16px;
    font-weight: bolder;
    margin-bottom: 10px;
}

.card-description{
    font-size: 14px;
    font-weight: lighter;
}

.icon{
    width: 40px;
    gap: 10px;
    margin-bottom: 10px;
}

footer {
    text-align: center;
    padding: 10px;
    background-color: var(--bg-primary);
    color: var(--icons-bg-primary);
    font-family: sans-serif;
}

@media screen and (max-width: 500px){

    .parallax {
        height: 100vh;
    }

    .card {
        margin-top: 35px;
        flex-direction: column;
        gap:0;
    }
    .card-items{
        width: 100%;
    }
    
    .container{
        padding: 0;
    }

    .img-photo{
        padding: 0;
    }
    .intro{
        margin-top: 20px;
    }
    .btn-cta {
        margin-bottom: 10px;
    }
}  

